<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title><%= title %></title>
  <%- include('../partials/head'); %>
</head>

<body>

  <header>
    <%- include('../partials/navbar'); %>
  </header>

  <main>
    <h2><%= title %></h2>
    <div id="main-menu">
      <div><a href="/references/list"><img
            src="https://media.discordapp.net/attachments/1091090710574407682/1093440394211110962/f57afc76-4c9d-42c8-9345-2484a7764edc.jpg"
            alt="">
          <p>Fontes</p>
        </a></div>
      <div><a href="/ephemerids"><img
            src="https://cdn.discordapp.com/attachments/1091090710574407682/1093443242000912464/fbeffef9-4d61-4170-a33b-cba14f5b4d83.jpg"
            alt="">
          <p>Assuntos</p>
        </a></div>
    </div>
    
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>
<%- include('../partials/scripts'); %>

</html>