<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title><%= title %></title>
  <%- include('./partials/head'); %>
</head>

<body>

  <header>
    <%- include('./partials/navbar'); %>
  </header>

  <main>
    <div class="center">
      <h2>Em construção</h2>
      <img id="under-construction-img"
        src="https://cdn.discordapp.com/attachments/1091090710574407682/1095342997194944592/d8d636e9-8dd1-419b-93eb-6611763a45cc.jpg"
        alt="">
    </div>
  </main>

  <footer>
    <%- include('./partials/footer'); %>
  </footer>

</body>
<%- include('./partials/scripts'); %>

</html>