<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title><%= title %></title>
  <%- include('./partials/head'); %>
  
</head>
<%- include('./partials/scripts'); %>
<body onload="initPage()">

  <header>
    <%- include('./partials/navbar'); %>
  </header>

  <main>
    <div id="clock">

    </div>
    <div id="ephemerid">

    </div>
  </main>

  <footer>
    <%- include('./partials/footer'); %>
  </footer>

</body>

<script src="/javascripts/clock.js"></script>

</html>