<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title><%= title %></title>
  <%- include('../partials/head'); %>
</head>

<body>

  <header>
    <%- include('../partials/navbar'); %>
  </header>

  <main>

    <% categories.forEach(function(category) { %>
    <div class="content active">
      <h3><%= category.name %></h3>
      <div class="carousel">
        <div class="carousel-items">
          <% category.subjects.forEach(function(subject) { %>
          <div class="carousel-item"> <%= subject %> </div>
          <% }); %>
        </div>
        <div class="carousel-buttons">
          <button class="carousel-button prev">&#10094;</button>
          <button class="carousel-button next">&#10095;</button>
        </div>
      </div>

      <!-- A -->
      <ul class="content-list">

      </ul>
    </div>
    <% }); %>

  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>
<%- include('../partials/scripts'); %>
<script>
  const navLinks = document.querySelectorAll('.main-nav-link');
  const contents = document.querySelectorAll('.content');

  navLinks.forEach(link => {
    link.addEventListener('click', e => {
      e.preventDefault();
      const target = e.target.getAttribute('href');
      navLinks.forEach(link => link.classList.remove('active'));
      link.classList.add('active');
      contents.forEach(content => {
        if (content.getAttribute('id') === target.substr(1)) {
          content.classList.add('active');
        } else {
          content.classList.remove('active');
        }
      });
    });
  });
</script>

</html>