<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title><%= title %></title>
  <%- include('../partials/head'); %>
</head>

<body>

  <header>
    <%- include('../partials/navbar'); %>
  </header>

  <main>
    <div>
      <nav>
        <ul>
          <li><a href="#consult" class="main-nav-link active">Consulta</a></li>
          <li><a href="#lessons" class="main-nav-link">Lições</a></li>
          <li><a href="#references" class="main-nav-link">Referências</a></li>
        </ul>
      </nav>



      <div id="consult" class="content active">
        <ul class="content-list">
          <li>
            <a href="/study/planets">
              <img
                src="/images/planets/planet.png"
                alt="">
              <p>Planetas</p>
            </a>
          </li>
        </ul>
      </div>
      <div id="lessons" class="content">
        <ul class="content-list">
          <li>
            <a href="#">
              <img
                src="/images/planets/planet.png"
                alt="">
              <p>Planetas</p>
            </a>
          </li>
        </ul>
      </div>
      <div id="references" class="content">
        <ul class="content-list">
          <li>
            <a href="/study/categories">
              <img
                src="/images/categories.png"
                alt="">
              <p>Por Categoria</p>
            </a>
          </li>
          <li>
            <a href="/study/books">
              <img
                src="/images/books.png"
                alt="">
              <p>Livros</p>
            </a>
          </li>
          <li>
            <a href="#"><img
                src="/images/podcasts.png"
                alt="">
              <p>Podcasts</p>
            </a>
          </li>
          <li>
            <a href="/study/videos">
              <img
                src="/images/videos.png"
                alt="">
              <p>Vídeos</p>
            </a>
          </li>
          <li>
            <a href="/study/typos">
              <img
                src="/images/symbols.png"
                alt="">
              <p>Símbolos</p>
            </a>
          </li>

        </ul>
      </div>

    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>
<%- include('../partials/scripts'); %>
<script>
  const navLinks = document.querySelectorAll('.main-nav-link');
  const contents = document.querySelectorAll('.content');

  navLinks.forEach(link => {
    link.addEventListener('click', e => {
      e.preventDefault();
      const target = e.target.getAttribute('href');
      navLinks.forEach(link => link.classList.remove('active'));
      link.classList.add('active');
      contents.forEach(content => {
        if (content.getAttribute('id') === target.substr(1)) {
          content.classList.add('active');
        } else {
          content.classList.remove('active');
        }
      });
    });
  });
</script>

</html>